trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- task: Npm@1
  displayName: "Install Packages"
  inputs:
    command: install
- task: Npm@1
  displayName: "Build Package"
  inputs:
    command: custom
    customCommand: run build

- task: ArchiveFiles@2
  displayName: "Zip the build"
  inputs:
    archiveFile: "a11y-react-app"
    archiveType: zip
    includeRootFolder: false
    rootFolderOrFile: "build"
