.left-side{
    width: 100%;
    height: 80vh; 
    background: white;
     border: 1px #D6D6D6 solid;
     display:flex;
     flex-direction: column;
     flex:1
}

.progress-bar{
    width:100px;
    height:60px;
    align-self: flex-end !important;
    margin:6px;
}
.content
{
    display:flex;
    align-items: center;
    flex-direction: column;
}