.desktop {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-image: url(../images/SignUp.png);
    
  }
  
  .desktop .group-wrapper {
    border: 1px solid;
    border-color: #ffffff;
    height: 1024px;
    width: 1395px;
  }
  
  .desktop .group {
    height: 770px;
    left: 400px;
    position: relative;
    top: 130px;
    width: 602px;
  }
  
  .desktop .overlap {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d6d6d6;
    border-radius: 26px;
    height: 770px;
    position: relative;
    width: 600px;
  }
  
  .desktop .overlap-group {
    height: 138px;
    left: 10px;
    position: absolute;
    top: 4px;
    width: 496px;
  }
  
  .desktop .overlap-group-wrapper {
    height: 76px;
    left: 0;
    position: absolute;
    top: 0;
    width: 170px;
  }
  
  .desktop .div {
    height: 76px;
    position: relative;
    width: 172px;
  }
  
  .desktop .div-wrapper {
    height: 42px;
    left: 32px;
    position: absolute;
    top: 34px;
    width: 140px;
  }
  
  .desktop .text-wrapper {
    color: #4584ff;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 138px;
  }
  
  .desktop .logo-shapes {
    height: 67px;
    left: 0;
    position: absolute;
    top: 0;
    width: 54px;
  }
  
  .desktop .sign-up {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 141px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 40px;
    width: 354px;
    left:200px;
  }
  
  .desktop .span {
    font-weight: 700;
  }
  
  .desktop .text-wrapper-2 {
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
  }
  
  .desktop .overlap-wrapper {
    height: 59px;
    left: 52px;
    position: absolute;
    top: 450px;
    width: 454px;
  }
  
  .desktop .overlap-2 {
    background-image: url(https://c.animaapp.com/m60yHrN8/img/rectangle-5.png);
    background-size: 100% 100%;
    height: 67px;
    left: -4px;
    position: relative;
    width: 460px;
  }
  
  .desktop .text-wrapper-3 {
    color: #b0a9a9;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    width: 158px;
  }
  
  .desktop .group-2 {
    height: 59px;
    left: 52px;
    position: absolute;
    top: 269px;
    width: 454px;
  }
  
  .desktop .overlap-3 {
    background-image: url(https://c.animaapp.com/m60yHrN8/img/rectangle-2-1.png);
    background-size: 100% 100%;
    height: 67px;
    left: -4px;
    position: relative;
    width: 460px;
  }
  
  .desktop .text-wrapper-4 {
    color: #b0a9a9;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    width: 162px;
  }
  
  .desktop .group-3 {
    height: 59px;
    left: 53px;
    position: absolute;
    top: 165px;
    width: 454px;
  }
  
  .desktop .overlap-4 {
    background-image: url(https://c.animaapp.com/m60yHrN8/img/rectangle-2.png);
    background-size: 100% 100%;
    height: 67px;
    left: -4px;
    position: relative;
    width: 460px;
  }
  
  .desktop .text-wrapper-5 {
    color: #b0a9a9;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
    width: 99px;
  }
  
  .desktop .group-4 {
    height: 59px;
    left: 53px;
    position: absolute;
    top: 357px;
    width: 452px;
  }
  
  .desktop .group-5 {
    height: 59px;
    width: 454px;
  }
  
  .desktop .overlap-group-2 {
    background-image: url(https://c.animaapp.com/m60yHrN8/img/rectangle-5-1.png);
    background-size: 100% 100%;
    height: 67px;
    left: -4px;
    position: relative;
    width: 460px;
  }
  
  .desktop .text-wrapper-6 {
    color: #b0a9a9;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    width: 70px;
  }
  
  .desktop .group-6 {
    background-image: url(https://c.animaapp.com/m60yHrN8/img/rectangle-4.svg);
    background-size: 100% 100%;
    height: 70px;
    left: 202px;
    position: absolute;
    top: 554px;
    width: 195px;
  }
  
  .desktop .group-7 {
    height: 31px;
    left: 61px;
    position: relative;
    top: 21px;
    width: 78px;
  }
  
  .desktop .text-wrapper-7 {
    color: #ffffff;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 76px;
  }
  .card {
    display: flex;
    justify-content: center;
    border-radius: 26px;
    border: 1px solid #D6D6D6;
    width: 590px;
    height: 570px;
    background: #FFF;
    gap:24px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}
::placeholder{
color: 'red';
font-size: 15;
font-family: 'Plus Jakarta Sans';
font-weight: '400';
word-wrap: 'break-word'
}


.field {
    border-radius: 10px;
    width: 459.948px;
    height: 59.746px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(237, 237, 237, 0.25);
    border: 1px solid #D6D6D6;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-form
{
    gap:24px;
}