nav {

  display: -webkit-flex;

  display: -moz-flex;

  display: -ms-flex;

  display: -o-flex;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px 100px;

  color: #fff;

  background: #4584FF;

}

.logo {

  font-size: 25px;

  color: #fff;

  padding: 0 15px;

}

.menu ul li {

  display: inline-block;

  margin: 0 15px;

}

.menu ul li a {

  text-decoration: none;

  cursor: pointer;

  opacity:50%;

  font-weight: bold;

  font-size: 20px;

  text-transform: capitalized;

  font-family: Plus Jakarta Sans;

  color: #fff;

  padding: 10px 15px;

}

.menu ul li a:hover{

  background: transparent;

  opacity:100%;

  text-decoration: underline;

  text-decoration-thickness: 2px;

  text-underline-offset: 7px;

}

.container a {

  display: flex;

  justify-content:center;

  align-items:center;

  text-decoration: none;

  border-radius: 25px;

  background: white;

  font-family: 'Plus Jakarta Sans';font-size: 16px;

  color:#4584FF;

  padding: 5px 15px;

}

a.button {

  cursor: pointer;

  border: 0;

  border-radius: 25px;

  font-weight: 600;

  margin: auto;

  text-align:center;

  line-height:100%;

  vertical-align:middle;

  position: absolute;

  display:flex;

  justify-content:center;

  width: 100px;

  padding: 0px;

  transition: 0.4s;

}  

.reg {

  color: #4584FF;

  background-color: rgba(255, 255, 255, 1);

  cursor: pointer;

  border: 0;

  border-radius: 25px;

  font-weight: 600;

  margin: 0 10px;

  width: 100px;

  padding: 10px 0;

  transition: 0.4s;

}



.log {

  color: #4584FF;

  background-color: rgba(255, 255, 255, 1);

  cursor: pointer;

  border: 0;

  border-radius: 25px;

  font-weight: 600;

  margin: 0 10px;

  width: 100px;

  padding: 10px 0;

  transition: 0.4s;

}



button:hover {

  color: white;

  box-shadow: 0 0 20px transparent;

  background-color: transparent;

}

.header {


  /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(homepage_SE_project.jpg); */

  -webkit-background-size: cover;

  background-size: cover;

  background-position: center center;

  background-repeat: no-repeat;

}

.banner-text {

  color: #fff;

  position: absolute;

  top: 70%;

  left: 26%;

  transform: translate(-50%, -50%);

  text-align: center;

}

.banner-text h1 {

  font-size: 60px;

  margin: 0;

  text-align: center;

}

.banner-text p {

  margin: 15px 0 40px;

  text-align: center;

}

.banner-text button {

  cursor: pointer;

  background: white;

  border: 0;

  outline: none;

  border-radius: 25px;

  color: #4584FF;

  text-align: center;

  padding: 5px 100px;

  font-size: 20px;

  transition: 0.4s;

  font-family: Plus Jakarta Sans;

  margin-left: 1500px;

  display: inline-block;

}

@media (max-width: 1500px) {

  nav {

      flex-direction: column;

      align-items: flex;

  }

  .menu ul {

      padding: 0;

  }

  .menu ul li {

      margin: 0 15px 0 0;

  }

  .container {

      margin-top: 25px;

  }

  .banner-text {

      left: 50%;

      text-align: center;

      width: 70%;

  }

  .banner-text h1 {

      font-size: 40px;

      text-align: center;

  }

}

@media (max-width: 1000px) {

  .logo {

      margin-top: 0;

      font-size: 17px;

  }

  nav {

      padding: 15px;

  }

  .menu ul li a {

      font-size: 10px;

      padding: 5px;

  }

  .container {

      display: none;

  }

  .banner-text {

      left: 50%;

      text-align: center;

      width: 80%;

  }

  .banner-text h1 {

      font-size: 18px;

      text-align: center;

  }

  .banner-text p {

      margin: 15px 0;

      font-size: 11px;

      text-align: center;

  }

  .banner-text button {

      font-size: 12px;

      text-align: center;

  }

}